#contact-links{
  width: 100vw;
  height: 50px;
  background-color: $element-background;
  position: absolute;
  bottom: 0;
}



i {
  font-size: 40px;
  margin: 5px;
  &:hover{
    cursor: pointer;
  }
}