#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1vw;
  padding-bottom: 0;
  margin: auto;
  width: 15%;
  // background-color: $element-background;
  background-color: #bdbdbd;
  color: rgb(61, 61, 61);
  border-radius: 15px;
  border: 1vw solid $element-background;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;

  #selector-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    select {
      padding: 5px;
      font-family: 'Noto Sans TC', sans-serif;
      margin-bottom: 2vh;
      border-radius: 3px;
      border: 2px solid #acacac;
      color: rgb(61, 61, 61);
      width: 65%;
      max-width: 150px;
      &:hover{
        cursor: pointer;
      }
    }

    #speed-menu{
      width: 35%;
    }
  }

  #maze-visualize{
    display: flex;
    justify-content: space-around;
    width: 100%;

    #visualize-btn{
      font-weight: bold;
    }
  }

  button{
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 2vh;
    width: 40%;
    padding: 3px;
    color: rgb(61, 61, 61);
    border-radius: 3px;
    border: 2px solid #acacac;
    transition: background-color 0.2s;
    overflow: hidden;
    &:hover{
      background-color: #e3e3e3;
      cursor: pointer;
    }
  }

  .reset-btns{
    display: flex;
    justify-content: space-around;
    width: 100%;

  }

  #description{
    margin-bottom: 2vh;
    height: 300px;
    overflow-y: auto;
  }
}