.grid-row {
  display: flex;
  list-style-type: none;

  .node{
    // border: 1px solid black;
    border-radius: 3px;
    margin: 1.5px;
    box-sizing: border-box;
    width: 1vw;
    height: 1vw;
    background-color: $node-color;
    &:hover{
      cursor: pointer;
    }
  }

  .start-node{
    background-color: $start;
    border: 1px solid rgb(255, 255, 255);
  }

  .end-node{
    background-color: $end;
    border: 1px solid rgb(255, 255, 255);
  }

  @keyframes bloom{
    0% {background-color: $path-color;}
    2.9% {background-color: $path-color;}
    3% {
      // background-color: #515b68;
      background-color: $searched;
      border: .25vw solid $node-color
    }
    100% {background-color: $searched;}
  }

  .visited:not(.end-node){
    animation-name: bloom;
    animation-duration: 1s;
    background-color: $searched;
  }
  
  .path:not(.end-node){
    background-color: $path-color;
  }
  
  .wall{
    background-color: black;
  }
}

#grid{
  display: flex;
  flex-direction: column;
  color: transparent;
  position: relative;
  margin: auto;
  padding: 1vw;
  border-radius: 5px;
  background-color: $element-background;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;

  button {
    width: 200px;
  }
}