#tutorial{
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #bdbdbd;
  border: 1vw solid $element-background;
  border-radius: 5px;
  color: black;
  font-size: 20px;

  #title{
    margin-bottom: 1vh;
    font-size: larger;
    padding: auto;
    text-align: center;
  }

  #subtitle{
    font-size: large;
    margin-bottom: 4vh;
    text-align: center;
  }

  #close-btn{
    position:absolute;
    right: 5px;
    top: 0;
    color: black;
    &:hover{
      cursor: pointer;
    }
  }

}

#modal{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.24);
  
  &.invisible{
    display: none;
  }
}